.container{
    max-width: 1440px;
    margin:0 auto;

}

.logo{
    margin-top: 0;
    max-width: 1440px;
    height: 100px;
    background-color:dodgerblue;
    background-image: url(../img/logo.png);
    background-size: contain;
    text-align: left;
    padding-bottom: 20px;
}

.intro{
    text-align: left;
    margin-left: 80px;
    padding-top: 50px;
    line-height: 0.9em;
}

main{
    margin-left: 80px;
}

.fotovips{
    margin-bottom: 35px;
}

figcaption{
    margin-top:-10px;
    line-height: 0.1em;
    font-style: normal;
}
span{
    background-color: yellow;
}

.fotomonitor{
    background-image: url(../img/monitor.jpg);

}

.fotografico{
    background-image: url(../img/graph.jpg);

}
